abstract-rendering==0.5.1
alabaster==0.7.3
amqp==1.4.6
anyjson==0.3.3
appscript==1.0.1
APScheduler==3.0.3
argcomplete==0.8.4
arrow==0.5.4
astropy==1.0.1
Babel==1.3
backports.ssl-match-hostname==3.4.0.2
bcolz==0.9.0
beautifulsoup4==4.3.2
billiard==3.3.0.20
binstar==0.10.4
bitarray==0.8.1
blaze==0.8.0
blz==0.6.2
bokeh==0.9.0
boto==2.38.0
cdecimal==2.3
celery==3.1.18
certifi==14.5.14
cffi==1.1.0
clyent==0.3.4
colorama==0.3.3
conda==3.13.0
conda-build==1.13.0
conda-env==2.1.4
configobj==5.0.6
cryptography==0.8.2
Cython==0.22
cytoolz==0.7.3
datashape==0.4.5
decorator==3.4.0
docopt==0.6.2
docutils==0.12
eg==0.1.0
enum34==1.0.4
eventlet==0.17.4
fastcache==1.0.2
Flask==0.10.1
funcsigs==0.4
futures==3.0.2
gevent==1.0.1
gevent-websocket==0.9.3
glueviz==0.4.0
greenlet==0.4.7
grin==1.2.1
gunicorn==19.3.0
h5py==2.5.0
ipython==3.1.0
itsdangerous==0.24
jdcal==1.0
jedi==0.8.1
Jinja2==2.7.3
jsonschema==2.4.0
kombu==3.0.26
llvmlite==0.5.0
lxml==3.4.4
MarkupSafe==0.23
matplotlib==1.4.3
mistune==0.5.1
mock==1.0.1
multipledispatch==0.4.7
networkx==1.9.1
nltk==3.0.2
nose==1.3.7
numba==0.19.1
numexpr==2.3.1
numpy==1.9.2
odo==0.3.2
openpyxl==2.0.2
pandas==0.16.1
patsy==0.3.0
pep8==1.6.2
Pillow==2.7.0
ply==3.6
psutil==2.2.1
ptyprocess==0.4
py==1.4.27
pyasn1==0.1.7
PyAudio==0.2.7
pycosat==0.6.1
pycparser==2.13
pycrypto==2.6.1
pycurl==7.19.5.1
pyflakes==0.8.1
Pygments==2.0.2
pyOpenSSL==0.15.1
pyparsing==2.0.3
pytest==2.7.1
python-dateutil==2.4.2
pytz==2015.4
PyYAML==3.11
pyzmq==14.6.0
redis==2.10.3
requests==2.7.0
rodeo==0.2.3
rope==0.9.4
runipy==0.1.3
scikit-image==0.11.2
scikit-learn==0.16.1
scipy==0.15.1
six==1.9.0
snowballstemmer==1.2.0
sockjs-tornado==1.0.1
Sphinx==1.2.3
sphinx-rtd-theme==0.1.7
spyder==2.3.4
SQLAlchemy==1.0.4
statsmodels==0.6.1
sympy==0.7.6
tables==3.1.1
terminado==0.5
toolz==0.7.2
tornado==4.2
tzlocal==1.1.3
ujson==1.33
unicodecsv==0.9.4
Werkzeug==0.10.4
xlrd==0.9.3
XlsxWriter==0.7.2
xlwings==0.3.5
xlwt==1.0.0
